## **📘정수 나눗셈의 개념(Integer Division)**
* **정수 나눗셈**이란, 두 개의 정수를 나눌 때 소수부(소수점 이하)를 버리고 정수 부분만 남기는 연산을 의미함.               
                    
* 예를 들어,                       
 `5 / 2 = 2` (소수부 0.5가 버려짐)                       
 `7 / 3 = 2` (소수부 0.333...이 버려짐)               

* 이 현상은 C, C++, Java, Python의 기본 정수 연산에서도 자주 발생하며, SQL에서도 동일한 방식으로 동작함. 

## **💡소수 연산을 원하는 경우 해결 방법**
* 소수 연산을 원하는 경우, 두 숫자 중 하나를 소수(실수)로 변환해야 함.           
* SQL에서는 1.0, CAST(), DECIMAL() 등을 활용해 소수 연산을 강제할 수 있음.

## **🔍예시**

**📍문제 설명**                   
students라는 테이블이 있습니다. 이 테이블에는 학교의 학생 정보가 담겨 있습니다. **각 학생의 평균 점수를 구하는 SQL 쿼리를 작성**하세요. 단, 평균 점수는 소수점 셋째 자리까지 표시해야 합니다.

**📍컬럼 정보**                    
  `id` (학생의 고유 번호)  
                  
  `name` (학생 이름)                    
          
  `total_score` (학생의 총점, 정수)                
             
  `test_count` (시험을 본 횟수, 정수)

### **1) 잘못된 쿼리**

In [ ]:
SELECT 
  name, 
  ROUND(total_score / test_count, 3) AS avg_score
FROM 
  students;

**❌ 왜 문제가 발생할까?**
* total_score와 test_count는 둘 다 정수 컬럼이므로, total_score / test_count는 정수 나눗셈이 발생
* 정수 나눗셈이 발생하면 소수부가 잘려서 결과가 0, 1, 2 등의 정수로만 반환
* 이후 ROUND()로 소수 셋째 자리까지 표시하더라도, 이미 소수부가 버려졌기 때문에 ROUND()는 의미가 없음

### **2) 해결방법** 
정수 나눗셈을 소수 연산(실수 연산)으로 변경해야 함.              
이 작업을 수행하는 방법은 3가지 방법이 있음.

**📘 방법 1: 1.0을 곱해서 소수로 변환**
* test_count * 1.0을 통해 소수 연산을 강제
* 이제 total_score / (test_count * 1.0)은 정수 나눗셈이 아니라 소수 연산으로 바뀜

In [ ]:
SELECT 
  name, 
  ROUND(total_score / (test_count * 1.0), 3) AS avg_score
FROM 
  students;

**📘 방법 2: CAST로 정수 → 소수 변환**
* CAST(test_count AS DECIMAL(10, 3))을 통해 test_count를 소수로 변환
* 이렇게 하면 total_score가 소수와 나누어지기 때문에 소수 연산이 발생

In [ ]:
SELECT 
  name, 
  ROUND(total_score / CAST(test_count AS DECIMAL(10, 3)), 3) AS avg_score
FROM 
  students;

**📘 방법 3: 소수 나눗셈을 강제 (1.0 / test_count)**
* 추천하는 방법: 직관적이고 명확, 소수연산 강제하기 때문에 실수로 정수 나눗셈이 발생할 가능성이 없음(`CAST`도 그 자체로는 정수 나눗셈이 발생하지 않지만 연산 순서에 따라 정수 나눗셈이 발생할 수 있음.). 
* total_score * 1.0을 통해 소수 연산을 강제
* total_score가 소수로 바뀌어 정수 나눗셈이 소수 연산으로 전환

In [ ]:
SELECT 
  name, 
  ROUND(total_score * 1.0 / test_count, 3) AS avg_score
FROM 
  students;